
/*  */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* extra styling */
/* body {
  font-family: sans-serif;
  background: #f8f9fa;
} */


@import "tailwindcss";

.toggle-btn {
@apply bg-purple-100 text-purple-500 cursor-pointer px-4
py-2;

}



.dev1{

background-image:
        url('./img/vector1.png'),
        url('./img/vector1.png'),
        linear-gradient(125.07deg, #632EE3, #9F62F2);
background-position: left center, right center, center;
 background-repeat: no-repeat;
background-size: auto, auto, cover;

}


